.nav-item {
    color: #61e2ff;
    text-shadow: 0 0 4px #24a19b, 0 0 10px #03edf9, 0 0 30px #7bebff;
    padding: 15px;
    font-family: 'sailorMoon';
    font-size: 3.5vw;
}

.navbar {
    background-color: #3D0B43;
    border-bottom: solid 3px #61e2ff;
    box-shadow: 0 0 6px #fc199a, 0 0 40px #fc199a, 0 0 30px #393a33, 0 0 10px #ffffff44;
}

.message {
    font-family: "caslon";
    text-align: center;
}
