.jumbotron {
    color: #ffc400ce;
    text-shadow: 0 0 2px #100c0f, 0 0 6px #ffaa0099, 0 0 10px #ffaa00, 0 0 15px #ffaa00de;
    font-style: italic;
    background-color: #290728;
    text-align: center;
    
}

h1 {
    font-family: 'caslon';
}

p {
    font-family: "sailorMoon";
    font-size: 33px;
    letter-spacing: 2px;
}