.card {
    background-color: rgb(176, 113, 201);
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
}

.card > .img {
    width: 320px;
    height: 250px;
}
